---
import Layout from "../layout/default.astro";
---

<Layout title="404">
  <div class="container">
    <div>
      <h1 class="h1">404</h1>
    </div>
    <a href="/">Back to homepage</a>
  </div>
</Layout>
