---
import Layout from "../layout/default.astro"
---


<Layout>
  <h1>about page</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea quos asperiores labore est impedit, voluptates nostrum tempore nesciunt minima sed iusto fugiat alias libero mollitia, dignissimos voluptas deleniti soluta nam.</p>
</Layout>
